Servicio3 /Conversor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://Conversor" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Conversor">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Conversor">
            <xs:element name="getConversion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConversionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getConversionRequest">
        <wsdl:part name="parameters" element="ns:getConversion"/>
    </wsdl:message>
    <wsdl:message name="getConversionResponse">
        <wsdl:part name="parameters" element="ns:getConversionResponse"/>
    </wsdl:message>
    <wsdl:portType name="ConversorPortType">
        <wsdl:operation name="getConversion">
            <wsdl:input message="ns:getConversionRequest" wsaw:Action="urn:getConversion"/>
            <wsdl:output message="ns:getConversionResponse" wsaw:Action="urn:getConversionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConversorSoap11Binding" type="ns:ConversorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getConversion">
            <soap:operation soapAction="urn:getConversion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConversorSoap12Binding" type="ns:ConversorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getConversion">
            <soap12:operation soapAction="urn:getConversion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConversorHttpBinding" type="ns:ConversorPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getConversion">
            <http:operation location="/axis2/services/Conversor/getConversion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Conversor">
        <wsdl:port name="ConversorHttpSoap11Endpoint" binding="ns:ConversorSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Conversor"/>
        </wsdl:port>
        <wsdl:port name="ConversorHttpSoap12Endpoint" binding="ns:ConversorSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Conversor"/>
        </wsdl:port>
        <wsdl:port name="ConversorHttpEndpoint" binding="ns:ConversorHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Conversor"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
